@import '../../bourbon/bourbon';


@mixin footer-stuff {
    font-size:8px;
    color:#d16c64;

}

header {
	background-color:white;
}

.title{
    font-size:30px;
    color:#cf5829;
    margin-left:50px;
}

.tagline{
    font-size:15px;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#54acc7;
}

.my-blog{
	float:right;
	text-decoration:none;

}
.copyright{
	float:left;
}


.main-body { 
	background-color:#e6e6df;
	padding-left:60px;
	float:left;
}

.item{
	width:130px;
	display:inline-block;
	border-style: solid;
	border-width:1px;
	border-color:white;
	font-size: 6px;
	font-family: 'Arial';
	margin:10px;
	overflow:hidden;
	height:130px;	
	float:left;
	background-color:white;	
	color:#4d443d;

}
.item:hover{
	border-style:groove;
	
}

.currency_code{
	float:right;
}

.price {
	float:right;
	color:#54acc7;
}



div.images img {
	width:125px;
	padding-right: 2px;
	padding-left:3px;

}

.my-blog,.copyright {
    @include footer-stuff
}

a:link {
	text-decoration:none;
}

footer{
	clear:both;
	width:500px;
	margin-left:100px;
	margin-bottom:30px;
}