@import '../../bourbon/bourbon';


@mixin footer-stuff {
    font-size:8px;

}

header {
	background-color:white;
}

.title{
    font-size:30px;
}

.tagline{
    font-size:15px;
}

.my-blog{
	float:right;
}
.copyright{
	float:left;
}


.main-body { 
	background-color:#e6e6df;
	padding-left:60px;
	float:left;
}

.item{
	width:130px;
	display:inline-block;
	border-style: solid;
	border-width:1px;
	border-color:white;
	font-size: 8px;
	margin:10px;
	overflow:hidden;
	height:130px;	
	float:left;
	background-color:white;	
}
.item:hover{
	
}

div.images img {
	width:125px;
	padding:5px;
}

.my-blog,.copyright {
    @include footer-stuff
}

footer{
	clear:both;
	width:500px;
	margin-left:100px;
	margin-bottom:30px;
}