@import '../../bourbon/bourbon';


@mixin footer-stuff {
    font-size:8px;
}


.title{
    font-size:30px;
}

.tagline{
    font-size:15px;
}

.my-blog,.copyright {
    @include footer-stuff
}

.item{
	width:300px;
	display:inline-block;
	border-style: solid;
	border-size: 1px;
	border-color: black;
}
.item:hover{
	
}

div.images img {
	width:125px;
}